<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"></script>
<script>
    $(function() {
        var playerElement = document.getElementById("player");

        var player = new Clappr.Player({
            source: '{{ watch_source_url }}',
            {% if live.poster %}
                poster: "{{ live.poster }}",
            {% endif %}
            height: 360,
            width: 540,
            autoPlay: false,
            hideMediaControls: false,
        });

        player.attachTo(playerElement);
        console.log("finished player setup")
    });
</script>
